form {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 600px) {
  form {
    .row {
      flex-direction: row;

      mat-form-field:first-child {
        margin-right: 1em;
      }
    }

  }
}
