@import "src/styles/variables";

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  //margin-top: 2em;
  padding: 1em;
}

.controls-bar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  .view-toggles {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }

  .month-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25em;

    .month-title {
      text-transform: capitalize;
    }
  }
}

.positions {
  display: flex;
  max-width: 1600px;
  //margin: auto;

  &.list-view {
    flex-direction: column;
    align-items: center;
  }

  &.grid-view {
    flex-flow: row wrap;
    justify-content: center;
  }

  &.is-mobile {
    .position {
      width: 100%;
    }
  }

  &:not(.is-mobile) {
    .position {
      .position-header {
        min-width: 12em;

      }
    }
  }

  .week-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 1.25em;
    text-transform: uppercase;
    color: $gray-500;
    letter-spacing: .25em;
    font-weight: 500;
  }

  .position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
    background-color: white;
    border-radius: 6px;
    font-weight: 500;
    width: fit-content;
    padding: 1em 2em;
    box-shadow: $shadow-md;

    &.expired {
      opacity: .5;
    }

    .position-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: $green-500;
      color: $gray-100;
      border-radius: 6px;
      padding: .5em;

      &.sunday {
        background-color: $red-500;
      }

      &.saturday {
        background-color: $yellow-500;
      }

      .day {
        text-transform: capitalize;
      }
    }

    .shift-toggles {
      margin-top: 1em;
    }
  }
}
