@import "src/styles/variables";

a {
  font-weight: 500;
  mat-icon {
    margin-right: .5em;
  }

}

.menu-label {
  height: 2.5em;
  width: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
  //background-color: rgba(0,0,0,.1);

  box-sizing: border-box;
  border-bottom: 2px solid $gray-600;

}

@media (min-width: 600px) {
  a {
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
  }

  .menu-label {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-right: 2px solid $gray-600;
    border-top: 2px solid $gray-600;

  }

}
