<mat-nav-list>
  <ng-container *ngIf="!(authService.userObs | async) else elseBlock">
    <a mat-list-item disabled>
      <span>Autoryzacja</span>
    </a>
    <a mat-list-item routerLink="/auth/sign-in" routerLinkActive="active" matRipple>
      <mat-icon>login</mat-icon>
      <span>Logowanie</span>
    </a>
    <a mat-list-item routerLink="/auth/sign-up" routerLinkActive="active" matRipple>
      <mat-icon>person</mat-icon>
      <span>Rejestracja</span>
    </a>
    <a mat-list-item routerLink="/auth/reset-password" routerLinkActive="active" matRipple>
      <mat-icon>settings_backup_restore</mat-icon>
      <span>Resetowanie hasła</span>
    </a>
  </ng-container>
  <ng-template #elseBlock>
    <a mat-list-item disabled>
      <span>Dyspozycyjność</span>
    </a>
    <a mat-list-item routerLink="/availability/view" routerLinkActive="active" matRipple>
      <mat-icon>table_rows</mat-icon>
      <span>Podgląd</span>
    </a>
    <a mat-list-item routerLink="/availability/edit" routerLinkActive="active" matRipple>
      <mat-icon>edit</mat-icon>
      <span>Edycja</span>
    </a>
    <a mat-list-item disabled>
      <span>Organizacja</span>
    </a>
    <a mat-list-item routerLink="/organization/manage-requests" routerLinkActive="active" matRipple>
      <mat-icon>group_add</mat-icon>
      <span>Prośby o dołączenie</span>
    </a>
  </ng-template>
</mat-nav-list>
