<mat-nav-list>
  <ng-container *ngIf="!(authService.userObs | async) else elseBlock">
    <a mat-list-item disabled>
      <span>Autoryzacja</span>
    </a>
    <a mat-list-item routerLink="/auth/sign-in" routerLinkActive="active" matRipple>
      <mat-icon>login</mat-icon>
      <span>Logowanie</span>
    </a>
    <a mat-list-item routerLink="/auth/sign-up" routerLinkActive="active" matRipple>
      <mat-icon>person</mat-icon>
      <span>Rejestracja</span>
    </a>
    <a mat-list-item routerLink="/auth/reset-password" routerLinkActive="active" matRipple>
      <mat-icon>settings_backup_restore</mat-icon>
      <span>Resetowanie hasła</span>
    </a>
  </ng-container>
  <ng-template #elseBlock>
    <a mat-list-item disabled>
      <span>Grafik</span>
    </a>
    <a mat-list-item routerLink="/schedule/view" routerLinkActive="active" matRipple>
      <mat-icon>search</mat-icon>
      <span>Podgląd</span>
    </a>
    <a *ngIf="isCurrentUserOwnerOrManager" mat-list-item routerLink="/schedule/edit" routerLinkActive="active" matRipple>
      <mat-icon>edit</mat-icon>
      <span>Edycja</span>
    </a>
    <a mat-list-item routerLink="/schedule/stats" routerLinkActive="active" matRipple>
      <mat-icon>analytics</mat-icon>
      <span>Statystyki</span>
    </a>
    <a *ngIf="isCurrentUserOwnerOrManager" mat-list-item routerLink="/schedule/settings" routerLinkActive="active" matRipple>
      <mat-icon>settings</mat-icon>
      <span>Ustawienia</span>
    </a>
    <a mat-list-item disabled>
      <span>Dyspozycyjność</span>
    </a>
    <a mat-list-item routerLink="/availability/view" routerLinkActive="active" matRipple>
      <mat-icon>table_rows</mat-icon>
      <span>Podgląd</span>
    </a>
    <a mat-list-item routerLink="/availability/edit" routerLinkActive="active" matRipple>
      <mat-icon>edit</mat-icon>
      <span>Edycja</span>
    </a>
    <a mat-list-item disabled>
      <span>Organizacja</span>
    </a>
    <a *ngIf="isCurrentUserOwnerOrManager" mat-list-item routerLink="/organization/manage-requests" routerLinkActive="active" matRipple>
      <mat-icon>group_add</mat-icon>
      <span>Prośby o dołączenie</span>
    </a>
    <a mat-list-item routerLink="/organization/manage-members" routerLinkActive="active" matRipple>
      <mat-icon>people</mat-icon>
      <span>Członkowie</span>
    </a>
    <a *ngIf="isCurrentUserOwnerOrManager" mat-list-item routerLink="/organization/settings" routerLinkActive="active" matRipple>
      <mat-icon>settings</mat-icon>
      <span>Ustawienia</span>
    </a>
  </ng-template>
</mat-nav-list>
