<!--<div class="container-inner">-->
<h1>Logowanie</h1>
<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <mat-form-field appearance="standard">
    <mat-label>Wpisz e-mail</mat-label>
    <input matInput placeholder="" formControlName="email">
    <mat-error *ngIf="email">{{getErrorMessage(email)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Wpisz hasło</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
  </mat-form-field>
  <button [attr.aria-label]="'Sign in'" type="submit"
          [disabled]="!signInForm.valid || isInProgress"
          mat-raised-button color="primary">Zaloguj
  </button>
  <mat-spinner [diameter]="32" *ngIf="isInProgress"></mat-spinner>
  <a routerLink="../reset-password">Nie pamiętasz hasła?</a>
</form>
<section *ngIf="!isInProgress" class="bottom-section">
  <h2>Nie posiadasz jeszcze konta i chcesz je założyć dla swojej organizacji?</h2>
  <a routerLink="../sign-up" mat-button color="accent">Załóż konto firmowe</a>
</section>
<!--</div>-->

