<div class="page-wrapper">
  <ng-container *ngIf="ready; else elseBlock">
    <mat-toolbar class="custom-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <ng-container *ngIf="authService.userObs | async">
        <div style="flex-shrink: 1; text-overflow: ellipsis; overflow: hidden">{{dataService.username}} @ {{dataService.organizationName}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Icon button to trigger user menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-container>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="organizationMenu">
          <mat-icon>business</mat-icon>
          <span>Wybierz organizację</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Wyloguj</span>
        </button>
      </mat-menu>
      <mat-menu #organizationMenu="matMenu">
        <button *ngFor="let org of organizations; index as i" mat-menu-item
                (click)="changeOrganization(i)">{{(org | async)?.name}}</button>
        <button mat-menu-item  routerLink="/organization/create">
          <mat-icon>add</mat-icon>
          <span>Utwórz nową</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="side-nav-cont" [class.is-mobile]="mobileQuery.matches">
      <mat-sidenav class="sidenav" [(opened)]="navOpen" (openedChange)="handleOpenChange($event)" #sidenav
                   id="'sidenav'"
                   [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches">
        <app-navigation></app-navigation>
      </mat-sidenav>
      <mat-sidenav-content class="router-wrapper">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
  <ng-template #elseBlock>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>
