html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //font-size: calc(12px + 1vmin) !important;
  //font-size: 32px !important;
}

a {
  text-decoration: none;

  &:visited {
    color: unset;
  }

  &:hover {
    text-decoration: underline;
  }
}

