@import "src/styles/variables";

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  overflow-x: auto;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5em;

  h2 {
    text-transform: capitalize;
  }

  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
      margin-top: .5em;
    }

  }
}

.table-container {
  display: flex;
  flex-grow: 1;
  overflow: auto;

  .mat-table {
    background-color: transparent;
  }

  .username-cell {
    overflow: visible;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;

    .username {
      border-radius: 999px;
      font-weight: 500;
      padding: .5em 1em;
      text-align: center;

      &.owner {
        background-color: $red-200;
        color: $red-500;
      }

      &.manager {
        background-color: $blue-200;
        color: $blue-500;
      }

      &.member {
        background-color: $green-200;
        color: $green-500;
      }
    }

    .user-hours {
      font-size: .75em;
      color: $gray-500;

      span {
        color: black;

        &.limit {
          color: $green-600;

          &.invalid {
            color: $red-600;
          }
        }
      }
    }
  }

  .mat-table-sticky {
    background-color: $gray-100;
    box-shadow: $shadow-md;
  }

  .mat-cell, .mat-header-cell {
    border-bottom-width: 2px;
    padding: .75em;

    &:not(:last-child) {
      border-right: 2px solid $gray-300;
    }
  }

  .header-date {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    box-shadow: $shadow-md;
    white-space: nowrap;

    &:not(:first-child) {
      color: $green-500;
      min-width: 9em;

      &.saturday {
        color: $yellow-500;
      }

      &.sunday {
        color: $red-500;
      }
    }
  }

  .availability-time {
    opacity: 1;

    &:not(:last-child) {
      margin-bottom: .25em;
    }
  }


}

.availability-time {
  opacity: .5;
  background-color: white;
  box-shadow: $shadow-md;
  border-radius: 6px;
  line-height: 3em;
  flex-grow: 1;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  cursor: move;
  color: $gray-800;

  &.available {
    background-color: $green-400;
  }

  &.preferred {
    background-color: $yellow-400;
  }

  &.not-available {
    background-color: $red-400;
  }
}

.header {

  .availability-time {
    border: 2px dashed;
    background: transparent;
    box-shadow: none;


  }

  .placeholder {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;

  }
}


.stats {
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  font-weight: 500;


  &:not(:last-child) {
    margin-bottom: 1em;
  }

  .stat-header {
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;

    .stat-name {
      border-bottom: 2px solid $gray-200;
    }

    .stat-time {
      color: $gray-500;
    }
  }

  .stat-content {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .stat-count {
      //margin-left: 1em;
      padding: .5em 1em;
      color: white;
      border-radius: $radius;
      box-shadow: $shadow-md;

      &.valid {
        background-color: $green-400;
      }

      &.invalid {
        background-color: $red-400;
      }

      &.warning {
        //color: $gray-600;
        background-color: $blue-400;
      }
    }

    .stat-max {
      font-size: .75em;
      color: $gray-500;
    }

  }
}

.centered-tab {
  max-width: 800px;
  margin: 2em auto auto;
}

.add-exception-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    margin-top: .25em;
    margin-bottom: 2em;
  }
}


.highlightable-cell {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    box-sizing: border-box;
    border: 3px dashed transparent;
    border-radius: 6px;
  }

  &.preferred::before {
    border-color: $yellow-400;
  }

  &.available::before {
    border-color: $green-400;
  }

  &.not-available::before {
    border-color: $red-400;
  }

}

@media screen and (min-width: 800px) {
  .top-bar {
    flex-direction: row;

    .controls {
      button {
        margin-top: 0;
      }

      button:not(:last-child) {
        margin-right: .5em;
      }
    }
  }

  .stats {
    flex-direction: row;

    .stat-content {
      margin-top: 0;
      margin-left: 1em;
    }
  }

  .table-container {

    .username-cell {
      white-space: nowrap;

    }
  }
}


