<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <mat-form-field appearance="standard">
    <mat-label>Wpisz e-mail</mat-label>
    <input matInput placeholder="" formControlName="email">
    <mat-error *ngIf="email">{{getErrorMessage(email)}}</mat-error>
  </mat-form-field>
  <button type="submit" [disabled]="!resetPasswordForm.valid"
          mat-raised-button color="primary">Resetuj hasło
  </button>
</form>
<section class="bottom-section">
  <a routerLink="/sign-in" mat-button color="accent">Wroć do logowania</a>
</section>
