@import "src/styles/variables";

:host {
  width: 100%;
  max-width: 800px;
  padding: 1em;
}

section {
  padding-bottom: 1em;
}

.config-shift-day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid $green-200;
  border-radius: 6px;
  margin-bottom: 2em;
  padding: 2em;
  box-shadow: $shadow-md;
  overflow: auto;

  &.sat {
    border-color: $yellow-200;
  }

  &.sun {
    border-color: $red-200;
  }

  .day-title {
    text-transform: capitalize;
    font-weight: 500;
    border-bottom: 2px solid $gray-200;
    //font-size: 1.25em;
  }

  mat-table {
    background-color: transparent;
  }

  .mat-column-start, .mat-column-end {
    font-weight: 500;
  }

  .add-shift-btn {
    margin-top: 1em;
  }

  .delete-btn {
    //color: $red-400;
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
    //justify-content: center;

    button {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: .25em;
      }
    }
  }
}

.organization-name-change {
  box-shadow: $shadow-md;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 2em;

  mat-form-field {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
