<section>
  <h2>Zmień nazwę organizacji</h2>
  <div class="organization-name-change">
    <mat-form-field appearance="standard">
      <mat-label>Nowa nazwa</mat-label>
      <input matInput placeholder="" [formControl]="nameControl" required>
      <mat-error *ngIf="nameControl.invalid">Nazwa nie może być pusta</mat-error>
    </mat-form-field>
    <button color="primary" class="shift-control-button" [disabled]="nameControl.invalid"
            (click)="changeOrganizationName()"
            mat-button>
      <span>Zmień</span>
    </button>
  </div>
</section>

