<section>
  <h2>Domyślne ustawienia zmian</h2>
  <div class="config-shift-day" [ngClass]="day" *ngFor="let day of daysShortArray; index as i">
    <h3 class="day-title">{{daysNamesArray[i] | date:'EEEE'}}</h3>
    <mat-table [dataSource]="config[day]">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nazwa</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Początek</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.start | date:'shortTime'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef> Koniec</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.end | date:'shortTime'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxEmployees">
        <mat-header-cell *matHeaderCellDef> Maks. prac.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.maxEmployees}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="minEmployees">
        <mat-header-cell *matHeaderCellDef> Min. prac.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.minEmployees}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button color="warn" class="delete-btn" mat-icon-button (click)="removeShift(day, element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="buttons">
      <button color="primary" class="add-shift-btn" (click)="addShift(day)" [disabled]="copyInProgress" mat-button>
        <mat-icon>add</mat-icon>
        <span>Dodaj</span>
      </button>
      <button color="primary" class="add-shift-btn" (click)="copyShifts(day)" [disabled]="copyInProgress" mat-button>
        <mat-icon>copy</mat-icon>
        <span>Skopiuj do reszty dni</span>
      </button>
      <button color="primary" class="add-shift-btn" (click)="overwriteShifts(day)" [disabled]="copyInProgress" mat-button>
        <mat-icon>swap_horiz</mat-icon>
        <span>Nadpisz do reszty dni</span>
      </button>
    </div>

  </div>
</section>

